/* Header */
.header {
  height: 4rem;
  width: 100%;
  padding: 0 10%;
  background: #161925;
  color: #fdfffc;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.header li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header a:hover,
.header a:active,
.header a.active {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #fdfffc;
}
