.search {
  width: 100%;
  outline: none;
  border: 2px solid hsl(217, 24%, 93%);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
